body{}
.durga-centerheader {
  text-align: center;
  background-color: white;
}

.durga-profile-pic {
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /height: 100px;/
}

.item2 {
  background-color:yellow;
  /height: 100px;/
}

.item3 {
  background-color:blue;
  /height: 100px;/
}
